@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&display=swap');
* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

.sessao section {
  transition: all ease-in-out 0.4s;
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #000019; 
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  color:lightgray;
}

.container {
  padding: 0 20px;
}

.light {
  font-weight: 200;
}

.title {
  font-size: 36px;
  font-weight: normal;
}

.profile {
  max-width: 452px;
  box-sizing: border-box;
  margin: 0 auto;
}

.box {
  background: #eee;
  padding: 3rem;
  box-shadow: 2px 2px 16px #000039;
  border-radius: 30px;
  text-align: center;
  margin-top: 8rem;
}

.botao-descer {
  position:absolute;
  margin-top:40rem;
  border-radius: 30px;
  width: 40px;
  height: 80px;
  color: white;
  text-align: center;
  border-style:none;
  transition: all ease-in-out 0.4s;
}


.profile-pic {
  border-radius: 50%;
  width: 200px;
  margin: 0 auto 2rem auto;
  transition:all ease-in-out 0.6s;
  cursor:zoom-in;
  -webkit-tap-highlight-color: transparent;
  filter:saturate(60%);
}

.profile-pic:hover {
  border-radius: 10%;
  width: 300px;
  margin: 0 auto 2rem auto;
  transition:all ease-in-out 0.6s;
  -webkit-tap-highlight-color: transparent;
  filter:saturate(100%);
}

.profile span {
  font-size: 24px;
}

.profile p {
  font-size: 18px;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  
}

.redes-sociais:hover {
  display: flex;
  justify-content: center;
}

.redes-sociais li {
  margin-right: 1rem;
}

.portfolio {
  max-width: 900px;
  box-sizing: border-box;
}

.portfolio ul {
  margin-top: 3rem;
}

.portfolio li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  gap: 2rem;
  color: lightgray;
}

.portfolio li + li {
  margin-top: 2rem;
}

.portfolio img {
  border-radius: 10px;
  box-shadow: 2px 2px 200px #000040;
  width: 300px;
}

.portfolio h2 {
  font-weight: normal;
  margin-bottom: 1rem;
}

.copyright {
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px 16px black;
  margin-top: 0.3rem;
  font-size: 16px;
  padding-bottom: 0.3rem;
  text-align:center;
}

.textos {
  font-size: 14px;
}

.botao-projeto {
  border-radius: 30px;
  background: linear-gradient(to left, #000000 -2%, #000066 100%);
  text-align: center;
  width: 100px;
  height: 23px;
  margin-right: auto;
  margin-left:auto;
  transition: all ease-in-out 0.6s;
  border-style:solid;
  border-width: 1px;
  box-shadow: 2px 2px 16px blue;
  -webkit-tap-highlight-color: transparent;
  border-color: #000042;
}

.botao-projeto:hover {
  border-radius: 30px;
  background: linear-gradient(to left, #000000 -2%, #000066 100%);
  text-align: center;
  width: 100px;
  height: 23px;
  margin-right: auto;
  margin-left:auto;
  transition: all ease-in-out 0.6s;
  box-shadow: 2px 2px 16px black;
  border-style:solid;
  border-width: 1px;
  -webkit-tap-highlight-color: transparent;
  border-color:#000042;
}

.botao-projeto a {
  text-decoration: none;
  margin-top:50%;
  color: lightgray;
  transition: all ease-in-out 0.4s;
}

.botao-projeto a:hover {
  text-decoration: none;
  color: lightgray;
  transition: all ease-in-out 0.4s;
}

.header-top {
  width: 1500px;
}

#btn-topo {
  margin-right: 1300px;
  margin-top:37rem; 
  float:right; 
  width:25px; 
  position:fixed; 
 -webkit-tap-highlight-color: transparent;
}

/* Animação */

[data-anime] {
  opacity: 0;
  transition: .6s;
}

[data-anime="left"] {
  transform: translate3d(-150px, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-anime="top"] {
  transform: translate3d(0, -150px, 0);
}

[data-anime="bellow"] {
  transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

/*preloader*/
#preloader {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000066;
  z-index:999;
  }
          
#preloader .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

/*versão para telas 1920px*/

@media (min-width:1920px) {
  .header-top {
    width: 2500px;
  }
  
  .botao-descer {
    position:absolute;
    margin-top:60rem;
    border-radius: 30px;
    width: 40px;
    height: 80px;
    color: white;
    text-align: center;
    border-style:none;
    transition: all ease-in-out 0.4s;
  }
  #btn-topo {
    margin-right: 120rem;
    margin-top:57rem; 
    width:25px; 
    position:fixed; 
   -webkit-tap-highlight-color: transparent;
  }

}

/* versão para telas mobile */


@media (max-width: 700px) {
  body {
    background-attachment: absolute;
    background-size: contain;
    background-color:#000011;
  }

  .header-top {
    width: 800px;
  }
  .box {
    padding: 1rem;
    margin-top: 5rem;
    border-radius: 30px;
  }

  .box:first-child{
    padding: 3rem;
  }

  .portfolio ul {
    margin-top: 1rem;
  }
  .portfolio li {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  
  .portifolio li div {
    max-width: 448px;
    }
  .copyright {
      margin: 0;
      padding: 0.3rem 0;
      font-size: 15px;
  }

  .titulos {
    text-align: center;
    font-size:22px;
  }

  .textos {
    font-size: 14px;
    padding: 4rem;
    text-align: center;
  }
  
  
}


/*skills*/

.wrapper{
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrapper .card{
  background: linear-gradient(to left, #000000 -2%, #000066 100%);
  width: calc(33% - 20px);
  height: 300px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.wrapper .card .circle{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  cursor: default;
}
.card .circle .too,
.card .circle .too span{
  position: absolute;
  top: 50%;
  left: 50%;
}
.card .circle .too{
  height: 100%;
  width: 100%;
  background: linear-gradient(to left, #000000 -2%, #000066 100%);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.6s;
}
.card .circle:hover .too{
  transform: translate(-50%, -50%) scale(0.91);
}
.card .circle .too span,
.wrapper .card .text{
  background: lightgray;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.circle .too span{
  font-size: 38px;
  font-family: sans-serif;
  font-weight: 600;
  transform: translate(-45%, -45%);
  transition: all 0.1s;
}
.card .circle:hover .too span{
  transform: translate(-45%, -45%) scale(1.09);
}
.card .text{
  font-size: 20px;
  font-weight: 600;
}

.skills {
  text-align:center;
}

@media(max-width: 753px){
  .wrapper{
    max-width: 700px;
  }
  .wrapper .card{
    width: calc(50% - 20px);
    margin-bottom: 20px;
  }
}
@media(max-width: 505px){
  .wrapper{
    max-width: 300px;
  }
  .wrapper .card{
    width: 100%;
  }
}
